<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
">
    <!--
        This will automatically locate any and all property files you have
        within your classpath, provided they fall under the META-INF/spring
        directory. The located property files are parsed and their values can
        then be used within application context files in the form of
        ${propertyKey}.
    -->
	<context:property-placeholder location="classpath*:META-INF/*.properties"/>

	<context:annotation-config/>
	<context:component-scan base-package="net.raescott">
		<context:exclude-filter expression=".*_Roo_.*" type="regex"/>
		<context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
	</context:component-scan>

	<!-- For AspectJ, also enable the plugin in the pom.xml -->
	<!-- Only needed if AspectJ is used -->
	<aop:aspectj-autoproxy/>

	<!-- AspectJ is the default so if it is omitted, it will be used. Don't forget the autoproxy is needed as well.
	Replace "aspectj" with "proxy" to use Spring Proxies.  Autoproxy is not needed with Spring Proxies. -->
	<!-- There is a bug in aspectj or something, but when you put the mode in it does not work!!  For Spring Proxies,
	it is fine!! -->
	<!-- <task:annotation-driven mode="aspectj" /> Does not work!! -->
	<!--<task:annotation-driven mode="proxy" />-->
	<task:annotation-driven />

	<task:executor
			id="executorWithPoolSizeRange"
			pool-size="5-25"
			queue-capacity="100" />

	<bean id="asynchronousBean1" class="net.raescott.multithreadingexample.AsynchronousBean" />
	<bean id="asynchronousBean2" class="net.raescott.multithreadingexample.AsynchronousBean" />

</beans>
